<div class="container">
  <div class="item1">
    <div class="default-side-bar">
      <div class="brand">
        <img src="../assets/corona.svg" alt="Corona">
      </div>
      <ul class=side-bar>
        <li class="side-bar__item"><i class="fa fa-home fa-2x" aria-hidden="true"></i>
          <a href="#">Overview</a></li>
        <li class="side-bar__item"><i class="fa fa-stethoscope fa-2x" aria-hidden="true"></i><a href="#">Symptoms</a>
        </li>
        <li class="side-bar__item"><i class="fa fa-medkit fa-2x" aria-hidden="true"></i><a href="#">Test Yourself</a>
        </li>
        <li class="side-bar__item"><i class="fa fa fa-book fa-2x" aria-hidden="true"></i><a href="#">Journal</a></li>
      </ul>
    </div>
  </div>
  <div class="item2">
    <div class="data">
      <div class="title">
        <h1>Covid 19</h1>
        <h1>Global Trend</h1>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="card-card-container">
            <h5>Aggregated confirmed</h5>
            <h4 style="color: #FD4E71; margin:0.3rem 0">272,314</h4>
            <h6>23%</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>Active confirmed</h5>
            <h4>169,793</h4>
            <h6>22%</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>Recovered</h5>
            <h4>91 316</h4>
            <h6>16%</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>Death</h5>
            <h4>11 205</h4>
            <h6>20%</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info-card-container">
        <div class="info-card-1">
          <div class="card-card-container">
            <img class="info-image" src="../assets/medical_officer.svg" alt="">
            <div class="card-content">  
              <h5><b>John Doe</b></h5>
              <h4>Architect & Engineer</h4>
              <h6>1000</h6>
            </div>
          </div>
        </div>
        <div class="info-card-2">
          <div class="card-card-container">
            <h5><b>John Doe</b></h5>
            <h4>Architect & Engineer</h4>
            <h6>1000</h6>
          </div>
        </div>
        <div class="info-card-3">
          <div class="card-card-container">
            <h5><b>John Doe</b></h5>
            <h4>Architect & Engineer</h4>
            <h6>1000</h6>
          </div>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>