<div class="container">
  <div class="item1">
    <div class="default-side-bar">
      <div class="brand">
        <img src="../assets/corona.svg" alt="Corona">
      </div>
      <ul class=side-bar>
        <li class="side-bar__item"><i class="fa fa-home fa-2x" aria-hidden="true"></i>
          <a href="#">Overview</a></li>
        <li class="side-bar__item"><i class="fa fa-stethoscope fa-2x" aria-hidden="true"></i><a href="#">Symptoms</a>
        </li>
        <li class="side-bar__item"><i class="fa fa-medkit fa-2x" aria-hidden="true"></i><a href="#">Test Yourself</a>
        </li>
        <li class="side-bar__item"><i class="fa fa fa-book fa-2x" aria-hidden="true"></i><a href="#">Journal</a></li>
      </ul>
    </div>
  </div>
  <div class="item2">
    <div class="data">
      <!-- <div class="title">
        <h1>Covid 19</h1>
        <h1>Global Trend</h1>
      </div> -->
      <div class="card-container">
        <div class="card" id="card-1">
          <div class="card-card-container">
            <h5>Total Confirmed</h5>
            <h4 style="color: #FD4E71; margin:0.3rem 0">{{globalData.TotalConfirmed | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.TotalConfirmed/totalNumber | percent}}</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>New Confirmed</h5>
            <h4 style="color:#FD4E71; margin:0.3rem 0">{{globalData.NewConfirmed | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.NewConfirmed/totalNumber | percent}}</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>New Recovered</h5>
            <h4 style="color:#FF751A; margin:0.3rem 0">{{globalData.NewRecovered | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.NewRecovered/totalNumber | percent}}</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>Total Recovered</h5>
            <h4 style="color:#FF751A; margin:0.3rem 0">{{globalData.TotalRecovered | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.TotalRecovered/totalNumber | percent}}</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>New Deaths</h5>
            <h4 style="color:#6DD400; margin:0.3rem 0">{{globalData.NewDeaths | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.NewDeaths/totalNumber | percent}}</h6>
          </div>
        </div>
        <div class="card">
          <div class="card-card-container">
            <h5>Total Deaths</h5>
            <h4 style="color:#6DD400; margin:0.3rem 0">{{globalData.TotalDeaths | number}}</h4>
            <h6 style="color:rgb(179, 174, 174);font-size: 1rem;">{{globalData.TotalDeaths/totalNumber | percent}}</h6>
          </div>
        </div>
      </div>
      <!-- map and dropdown list area -->
      <div class="map-dropdown-card">
        <div class="map-dropdown-card-container">
          <div class="drop-down">
            <input type="text" id="myInput" (keyup)="onKey($event)" placeholder="Search for names.."
              title="Type in a name">
            <ul id="myUL">
              <li *ngFor="let countryDetail of countryViceDetails"><a href="#">{{countryDetail.Country}}</a></li>
            </ul>
          </div>
          <div class="map">
            <div id="mapid"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info-card-container">
        <div class="info-card-1">
          <div class="card-card-container">
            <img class="info-image" src="../assets/medical_officer.svg" alt="">
            <div class="card-content">
              <h5><b>John Doe</b></h5>
              <h4>Architect & Engineer</h4>
              <h6>1000</h6>
            </div>
          </div>
        </div>
        <div class="info-card-2">
          <div class="card-card-container">
            <h5><b>John Doe</b></h5>
            <h4>Architect & Engineer</h4>
            <h6>1000</h6>
          </div>
        </div>
        <div class="info-card-3">
          <div class="card-card-container">
            <h5><b>John Doe</b></h5>
            <h4>Architect & Engineer</h4>
            <h6>1000</h6>
          </div>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>